/* .guides-entry { 
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 20px;
    }
  .guides-entry > section {
    border: 1px solid #ccc;
    box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
  }
  .gridguides-entry > section img {
    max-width: 100%;
  }
  .text {
    padding: 0 20px 20px;
  }
 
  .guides-entry > section:nth-child(1) {
    grid-column: span 2; */



  /* .guides-entry { 
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 20px;
    align-items: start;
    }
  .guides-entry > section {
    border: 1px solid #ccc;
    box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
  }
  .guides-entry > section img {
    max-width: 100%;
  }
  .text {
    padding: 0 20px 20px;
  } */

  /* .guides-entry { 
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 20px;
    align-items: stretch;
    }
  .guides-entry > section {
    border: 1px solid #ccc;
    box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
  }
  .guides-entry > section img {
    max-width: 100%;
  }
  .text {
    padding: 0 20px 20px;
  }
   */

   .guides-entry { 
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 20px;
    clear: both;
    }

  section.content {
    border: 1px solid #ccc;
    box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
  }

    .text {
        padding: 0 20px 20px;
      }