body,
html {
    margin:0;
    padding:0;
}
.background-image {
    z-index: -1;
    position:absolute;
    top:0;
    display:none;
    width:100%;
    height:100%;
}

#call-to-action {
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    min-height: 100vh;
}

#call-to-action a {
    text-decoration: none;
}

#call-to-action h1 {
    
    font-family: 'Cinzel', serif;
    background-color: rgba(245, 245, 245, 0.6);
    color: #222;
    padding: .3em;
    border-radius: .2em;
    
    margin: 0;
}

#call-to-action h1:hover {
    cursor: pointer;
    background-color: rgba(220, 220, 220, 0.6);
}

#call-to-action h1:active {
    background-color: rgba(196, 196, 196, 0.6);
}

#nav header,
#nav nav li {
    display: none;
}

#packages-container,
#testimonials,
#personal-guides,
#contact {
    
    font-family: 'Cinzel', serif;
    height: 100vh;
    background-color: whitesmoke;
    display: flex;
    /* flex-direction: row; */
}

#nav {    
    font-size: 1.3em;
    display: flex;
    justify-content: space-around;
    padding-top: 1em;
    padding-bottom: 1em;
    position: fixed;
    top: 0;
    width: 100%;
    align-items: center;
    /* margin: 0 auto; */
    /* flex-direction: row; */
}

#nav nav ul {
    /* list-style-type: none; */
    display: flex;
    margin-top: 0;
    margin-bottom: 0;
    align-items: center;
}

#nav nav li {
    list-style-type: none;
}

#nav nav li:hover {
    cursor: pointer;
}

#packages-btn,
#testimonials-btn,
#personal-guides-btn,
#contact-btn {
    padding: 0.5em 1em;
    /* border: 1px solid whitesmoke; */
    border-radius: .2em;
    text-decoration: none;
    color: #222;
}

/* #testimonials-btn {
    justify-content: center;
    align-items: center;
    align-self: flex-start;
} */

#packages-btn:hover,
#testimonials-btn:hover,
#personal-guides-btn:hover,
#contact-btn:hover {
    background-color: rgba(220, 220, 220, 0.6);
    /* border-color: #646964; */
}

#packages-btn:active,
#testimonials-btn:active,
#personal-guides-btn:active,
#contact-btn:active {
    background-color: rgba(196, 196, 196, 0.6);
}

#packages-card {
    flex-direction: row;
    background-color: rgba(220, 220, 220, 0.6);
    color: #222;
    padding: 3em;
    border-radius: .2em;
    width: 75%;
    margin: 0 auto;
}
#packages-card p {
    display: inline;
}

#back-to-top-container {
    display: none;
    width: 80%;
    /* align-self: flex-end; */
    direction: rtl;
    /* justify-content: space-between; */
    /* margin-left: 2em;
    margin-bottom: 2em;
    margin-right: 2em; */
    margin: 2em auto;
    bottom: 0;
    /* right: 0; */
    position: fixed;
    justify-content: space-between;
}

#back-to-top-container ul {
    display: flex;
    direction: ltr;
    padding: 0;
    width: 7em;
    justify-content: space-evenly;
    list-style-type: none;
    /* cursor: pointer; */
}

#back-to-top-container a {
    text-decoration: none;
    color: #222;
}

#back-to-top {
    display: none;
    
    /* border-color: #222; */
    padding: .3em 0.5em;
    border: 1px solid #646964;
    border-color: rgba(196, 196, 196, 0.6);
    border-radius: 50%;
    font-size: 2em;
    
    /* margin-top: 300px; */
    /* margin-left: 150px; */
    
}

#back-to-top:hover {
    cursor: pointer;
    background-color: rgba(220, 220, 220, 0.6);
}

#back-to-top:active {
    background-color: rgba(196, 196, 196, 0.6);
}

.fa-angle-double-up {
    font-weight: bold;
}

/* Pulsate */
.pulsate {
    -webkit-animation: pulsate 2s ease-out;
    -webkit-animation-iteration-count: infinite; 
    opacity: 0.4;
}

@-webkit-keyframes pulsate {
    0% { 
        opacity: 0.4;
    }
    50% { 
        opacity: 1.0;
    }
    100% { 
        opacity: 0.4;
    }
}
/* End Pulsate */

#packages-container,
#testimonials,
#personal-guides,
#contact {
    justify-content: center;
    align-items: center;
}

/* would like to flex this, this feels a little hackish */
#packages p {
    /* align-self: center;
    justify-self: center; */
    margin: 0 auto;
}

/* #packages p,
#testimonials p,
#personal-guides p,
#contact p {
    background-color: rgba(220, 220, 220, 0.6);
    color: #222;
    padding: 3em;
    border-radius: .2em;
    width: 50%;
} */