html, body {
    margin:0;
    /* padding:0; */
    width: 100%;
    height: 100%;
    /* top:0; */
    /* left:0; */
    background:whitesmoke;
}

#nav header,
#nav li {
    display: block;
    font-family: 'Cinzel', serif;
}

#layout-container {
    font-family: 'Lato', serif;
    background-color: whitesmoke;
    display: block;
}

#nav {
    /* top: 0; */
    /* left: 0; */
    /* margin-top: 0;     */
    font-size: 1.3em;
    display: flex;
    justify-content: space-between;
    padding-top: .5em;
    padding-bottom: .5em;
    width: 100%;
    align-items: center;
}

#nav header a {
    text-decoration: none;
    padding: .5em 1em;
    color: #222;
}

#nav nav ul {
    display: flex;
    margin-top: 0;
    margin-bottom: 0;
    align-items: center;
}

#nav nav li:hover {
    cursor: pointer;
}

#packages-btn,
#testimonials-btn,
#personal-guides-btn,
#contact-btn {
    padding: 0.5em 1em;
    border-radius: .2em;
    text-decoration: none;
    color: #222;
}

#packages-btn:hover,
#testimonials-btn:hover,
#personal-guides-btn:hover,
#contact-btn:hover {
    background-color: rgba(220, 220, 220, 0.6);
}

#packages-btn:active,
#testimonials-btn:active,
#personal-guides-btn:active,
#contact-btn:active {
    background-color: rgba(196, 196, 196, 0.6);
}

#back-to-top-container {
    display: flex;
    width: 80%;
    direction: rtl;
    margin: 1em auto;
    bottom: 0;
    right: 0;
    justify-content: space-between;
    font-family: 'Cinzel', serif;
}

#back-to-top-container ul {
    display: flex;
    direction: ltr;
    padding: 0;
    width: 7em;
    justify-content: space-evenly;
    list-style-type: none;
}

#back-to-top-container a {
    text-decoration: none;
    color: #222;
}

#back-to-top {
    padding: .3em 0.5em;
    border: 1px solid #646964;
    border-color: rgba(196, 196, 196, 0.6);
    border-radius: 50%;
    font-size: 2em;
}

#back-to-top:hover {
    cursor: pointer;
    background-color: rgba(220, 220, 220, 0.6);
}

#back-to-top:active {
    background-color: rgba(196, 196, 196, 0.6);
}

.fa-angle-double-up {
    font-weight: bold;
}

/* Pulsate */
.pulsate {
    -webkit-animation: pulsate 2s ease-out;
    -webkit-animation-iteration-count: infinite; 
    opacity: 0.4;
}

@-webkit-keyframes pulsate {
    0% { 
        opacity: 0.4;
    }
    50% { 
        opacity: 1.0;
    }
    100% { 
        opacity: 0.4;
    }
}
/* End Pulsate */