@font-face {
    font-family: 'Narnia';
    src: url('/fonts/Narnia.ttf');
    src: url('/fonts/Narnia.ttf?#iefix') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: "Thrones";
    src: url('/fonts/Game of Thrones.ttf');
    src: url('/fonts/Game of Thrones.ttf?#iefix') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
      font-family: "hobbit";
      src: url('/fonts/hobbit.ttf');
      src: url('/fonts/hobbit.ttf?#iefix') format('truetype');
      font-weight: normal;
      font-style: normal;
  }

html, body {
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    font-family: 'Lato', sans-serif;
}

img {
    width: 700px;
    height: 410px;
}

a {
    text-decoration: none;
}

hr {
    width: 90%;
    overflow: visible; /* For IE */
    padding: 0;
    border: none;
    border-top: medium double #FF533D;
    color: #333;
    text-align: center;
}

hr::after {
    content: "FairyBnB";
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: 1.5em;
    padding: 0 0.25em;
    background: white;
}



.maps {
   display: flex;
   align-items: center;
   justify-content: center;
   flex-flow: row wrap;
   padding-top: 50px;
   padding-bottom: 200px;
}

.chooseMap {
    object-fit: contain;
    width: 700px;
    height: 410px;
    border: 5px solid #FF533D;
    position: relative;
    margin: 10px;
}

.chooseMap:hover {
    opacity:0.8;
    transform:translate(0px,-10px);
    box-shadow: 0 15px 12px -6px black;
}

.title {
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}

.titleBlock {
    text-align: center;
    padding:8px 8px;
    color: white;
    background-color: #FF533D;
    border: 1px solid slategrey;
    box-shadow: 0 10px 8px -6px black;
    font-size:24;
    opacity: .8;
}

.mainTitle {
    position:absolute;
    top:53%;
    left:50%;
    transform:translate(-50%,-50%);
    z-index: 1;
}

.mainBlock {
    text-align: center;
    padding:8px 72px;
    color: white;
    background-color: rgb(92, 90, 90);
    font-size:64px;
    opacity: .7;
    z-index: 1;
    border: 3px solid #FF533D;
    box-shadow: 0 10px 8px -6px black;
}

.adventure {
    display: block;
}

.package {
    position: relative;
    width: 80%;
    height: auto;
    border: 3px solid #FF533D;
    margin-bottom: 150px;
    margin-right: auto;
    margin-left: auto;
}

.packagePhoto {
    display: block;
    width: 100%;
    height: auto;
}

.packageInfo {
    color: black;
    font-size: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: white;
  }
  
  .package:hover .overlay {
    opacity: .8;
  }

  .advTitle {
      text-align: center;
      font-size: 48px;
  }

  .Narnia {
      font-family: 'Narnia';
  }

  .middle-earth {
    font-family: 'hobbit';
  }

  .westeros {
      font-family: 'Thrones';
  }

  h6 {
      text-align: center;
     
  }

  ul {
      line-height: 1.5em;
  }
