html, body {
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    font-family: 'Lato', sans-serif;
}

img {
    width: 700px;
    height: 410px;
   
}

a {
    text-decoration: none;
}

.maps {
   display: flex;
   align-items: center;
   justify-content: center;
   flex-flow: row wrap;
   padding-top: 50px;
   padding-bottom: 100px;
}

.chooseMap {
    object-fit: contain;
    width: 700px;
    height: 410px;
    border: 5px solid #FF533D;
    position: relative;
    margin: 10px;
}

.chooseMap:hover {
    opacity:0.8;
    transform:translate(0px,-10px);
    box-shadow: 0 15px 12px -6px black;
}

.title {
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}

.titleBlock {
    text-align: center;
    padding:8px 8px;
    color: white;
    background-color: #FF533D;
    border: 1px solid slategrey;
    box-shadow: 0 10px 8px -6px black;
    font-size:24;
    opacity: .8;
}

.mainTitle {
    position:absolute;
    top:53%;
    left:50%;
    transform:translate(-50%,-50%);
    z-index: 1;
}

.mainBlock {
    text-align: center;
    padding:8px 72px;
    color: white;
    background-color: rgb(92, 90, 90);
    font-size:64px;
    opacity: .7;
    z-index: 1;
    border: 3px solid #FF533D;
    box-shadow: 0 10px 8px -6px black;
}